﻿@charset "utf-8";
/* Custom Styles */

a { color: #00b1f7; }

a.greylink { 
	color: #333;
	text-decoration: underline;
}

.anchor {
	display: block;
	position: relative;
	top: -78px;
	visibility: hidden;
}

body {
	margin: 0 auto;
	max-width: 1920px;
	padding-top: 78px;
}

.blue {
	color: #00a3e4;
}

.blueback {
	background-color: #003e65;
}

.border-left {
	border-left: 5px solid #ccc;
	padding-left: 10px;
}

.green {
	color: #2d9f48;
}

.navshadow {
	box-shadow: 0 1px 1px #ddd;
}

label span {
	color: #ff0000;
}

.lead {
	color: #999;
}

.logo {
	margin-left: 50px;
}

.logo-fixed {
	position: fixed;
	top: 15px;
	left: 0;
	z-index: 1031;
}

.margbottom20 {
	margin-bottom: 20px !important;
}

.margright0 {
	margin-right: 0 !important;
}

.margright10 {
	margin-right: 10px !important;
}

.margtop0 {
	margin-top: 0 !important;
}

.margtop20 {
	margin-top: 20px !important;
}

.mobilemargins {
	margin: 0 15px !important;
}

.pad15 {
	padding: 15px !important;
}

.padleft0 {
	padding-left: 0 !important;
}

.padleft20 {
	padding-left: 20px !important;
}

.padtop10 {
	padding-top: 10px !important;
}

.scroll-top-padd {
	padding-top: 100px !important;
}

.space10 {
	height: 10px;
}

.space20 {
	height: 20px;
}

.space30 {
	height: 30px;
}

.space80 {
	height: 80px;
}

.textgreylt {
	color: #999;
}

.well hr {
	border-top: 1px solid #ccc !important;
}

.white {
	color: #fff;
}

.whiteback {
	background-color: #fff;
}

@media (min-width: 992px) {
	body {
		padding-top: 110px;
	}

	.logo.home {
		height: 80px;
	}
}

@media (min-width: 1880px) {
	.logo.home {
		height: 100px;
	}
}

/* Nav */
.navbar-cloud {
	border: none !important;
}

.navbar-collapse {
	padding-right: 0 !important;
}

.navbar-collapse.in .navbar-nav {
	width: 100%;
}

.navbar-default {
	background-color: #fff !important;
	min-height: 78px;
}

.navbar-default .navbar-nav > a:focus,
.navbar-default .navbar-nav > a:hover {
	background-color: #fff !important;
	color: #00a3e4 !important;
	font-weight: bold !important;
}
	
.navbar-default .navbar-toggle {
	background-color: transparent !important;
	border: none !important;
}

.nabar-nav {
	margin: 0 !important;
}

.navbar-nav > li > a {
	line-height: 18px !important;
}

.navbar-toggle {
	margin-top: 18px !important;
}

@media (max-width: 869px) {
	.logo {
		margin-left: 0;
	}
	
	.logo-fixed {
		left: 15px;
		top: 2px;
	}
	
	.nav > li {
		display: inline-block !important;
	}
	
	.navbar-collapse {
		border-top: 1px solid transparent !important;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1) !important;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1) !important;
	}
	
	.navbar-collapse.collapse {
		display: none !important;
		height: auto !important;
		padding-bottom: 0 !important;
		overflow: visible !important;
	}
	
	.navbar-collapse.in {
		overflow-y: auto !important;
	}
	
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	
	.navbar-header {
		float: none !important;
	}
}

@media (min-width: 870px) {
	.navbar-collapse {
		width: auto !important;
		border-top: 0 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0 !important;
		overflow: visible !important;
	}
	
	.navbar-collapse.in {
		overflow-y: visible !important;
	}
	
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	
	.navbar-header {
		float: none !important;
	}
	
	.navbar-nav {
		margin: 11px 15px 0 !important;
	}
	
	.navbar-nav > li > a {
		line-height: 34px !important;
	}
	
	.navbar-nav > li > a.btn {
		line-height: 14px !important;
		margin-top: 10px;
	}
}

@media (min-width: 992px) {
    .navbar-default {
		min-height: 110px;
	}
}

@media (min-width: 1200px) {
	.navbar-default {
		min-height: 110px;
	}
	
	.navbar-nav {
		margin: 16px 15px 0 !important;
	}
}

@media (min-width: 1880px) {
	.navbar-nav {
		margin: 33px 15px 0 !important;
	}
}

/* Home */
.bullets {
    background-color: #eee;
    text-align: center;
}

.bullets h4 {
    font-size: 24px;
}

.bullets img {
    -webkit-box-shadow: 0 1px 3px -1px #333;
    -moz-box-shadow: 0 1px 3px -1px #333;
    box-shadow: 0 1px 3px -1px #333;
    margin: -10px auto 10px;
}

.bullets p.margbottom20 {
    margin-bottom: 50px !important;
}

.bullets ul li,
.well ul li {
	padding-bottom: 10px;
}

.cloud-back {
    background-color: #01577a;
	background-position-x: 50%;
	background-repeat: no-repeat;
}

.cloud-back .blueback {
	float: left;
	padding-right: 0;
}

.cloud-back .btn-lg {	
	box-shadow: 8px 9px 0 0 rgba(0,0,0,0.5);
	font-weight: 700;
}

.cloud-back .carousel-caption {
	bottom: 0;
}

.cloud-back .video-js,
.feature-list .video-js {
	background-color: transparent;
	border: none;
	border: 3px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 5px -1px #000;
	float: right;
}

.cloud-back .vjs-default-skin .vjs-big-play-button,
.feature-list .vjs-default-skin .vjs-big-play-button {
	display: none;
}

.cloud-back .vjs-default-skin .vjs-control-bar,
.feature-list .vjs-default-skin .vjs-control-bar {
	display: block;
}

.complete-solution h4 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-left: 5px;
    text-transform: uppercase;
}

.feature-list {
    background-color: #fff;
}

.feature-list .video-box {
    float: left; 
    text-align: center;
    width: 275px;
}

.feature-list ul {
	-webkit-padding-start: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.feature-list ul li {
    background-color: #00a3de;
    background-color: rgba(0, 163, 222, 0.7);
	line-height: 36px;
	list-style: none;
    margin-bottom: 1px;
    padding-left: 20px;
}

.feature-list ul li:hover {
    background-color: rgba(115, 206, 242, 0.7);
}

.feature-list ul li > a {
	color: #fff;
    text-decoration: none;
}

.feature-list .video-js {
	height: 156px !important;
	width: 272px !important;
}

.feature-list .vjs-default-skin .vjs-control {
	width: 3em;
}

.feature-list .vjs-default-skin .vjs-fullscreen-control {
	margin-left: 20px;
}

.free-trial {    
    text-align: center;
}

.free-trial .btn {
    margin-bottom: 75px;
    margin-top: 10px;
    width: 100%;
}

.LPMcontainer {
	background-color: #00b1f7 !important;
}

@media (min-width: 375px) {
    .bullets img {
        margin: 20px auto 10px;
    }

    .feature-list .video-box {
        margin: 20px 0;
        width: 325px;
    }

    .feature-list .video-js {
        height: 185px !important;
        width: 323px !important;
    }
}

@media (min-width: 768px) {
	.account-type {
		text-align: right;
	}
	
	.account-type p {
		padding-top: 7px; 
		padding-right: 13px;
	}
	
	.feature-list ul {
		-webkit-padding-start: 20px !important;
	}

    .feature-list .free-trial {
        text-align: center;
    }

    .feature-list .video-box {
        padding-right: 40px;
        width: -moz-calc(100% - 275px);
        width: -webkit-calc(100% - 275px);
        width: calc(100% - 275px);
    }
	
	.feature-list .video-js {
		height: 215px !important;
		margin-top: 25px;
		width: 377px !important;
	}

    .free-trial .btn {
        position: absolute;
        right: 37px;
        top: -165px;
        width: auto;
    }
	
	.modal-body h4.text-uppercase {
		padding-right: 50px;
	}
}

@media (min-width: 992px) {
    .bullets {
        background-color: #fff;
        text-align: left;
    }

    .cloud-back {
        letter-spacing: 1px;
    }
	.cloud-back .carousel {
		margin-top: 78px;
	}
	
	.cloud-back .carousel-caption {
		left: 15px;
		right: 0;
		right: auto;
		text-align: left;
	}
	
	.cloud-back .carousel-caption span {
		font-size: 34px;
	}
	
	.cloud-back .carousel-inner > .item {
		height: 240px;
	}
	
	.cloud-back .video-js {
		height: 251px !important;
		margin-top: 65px;
		width: 441px !important;
	}

    .home-background {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/home-back.jpg');
        background-position-y: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1280px;
        left: 0;
        position: fixed;
        top: -111px;
        width: 100%;
        z-index: -1;
    }
	
	.started-button {
		margin-top: 10px;
    }
}

@media (min-width: 1200px) {	
	.cloud-back .carousel {
		margin-top: 90px;
	}

    .cloud-back .carousel-caption {
        left: 75px;
    }
	
	.cloud-back .carousel-caption span {
		font-size: 43px;
	}

	.cloud-back .video-js {
		height: 253px !important;
		margin-top: 32px;
		width: 444px !important;
	}

    .home-background {
        top: 0;
    }
}

@media (min-width: 1600px) {
    .bullets {
        padding-bottom: 130px;
    }

    .bullets h4 {
        font-size: 21px;
        line-height: 30px;
    }

    .cloud-back .btn-lg {
        font-size: 36px !important;
    }

    .cloud-back .carousel-caption {
        bottom: -74px;
        height: 293px;
    }

    .cloud-back .carousel-caption span {
        font-size: 48px;
        line-height: 53px;
    }

    .cloud-back p {
        font-size: 24px;
        line-height: 36px;
        margin-top: 16px;
    }
	
	.cloud-back .video-js {
		height: 339px !important;
		width: 597px !important;
	}
}

/* Demo */
@media (min-width: 992px) {
    .demo-back {
        min-height: 675px;
        position: relative;
    }

    .demo-back h2 {
        border-bottom: 3px double #fff;
        padding-bottom: 30px;
    }

    .demo-back h3,
    .demo-back i {
        font-size: 60px;

    }

    .demo-content {
        cursor: pointer;
        left: 0;
        position: absolute;
        top: 30%;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .demo-back {
        min-height: 875px;
    }

    .demo-content {
        top: 20%;
    }
}

@media (min-width: 1600px) {
    .demo-back {
        min-height: 955px;
    }

    .demo-back h2 {
        font-size: 40px;
    }

    .demo-content {
        top: 40%;
    }
}

/* Features */
.features {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 0 15px 0;
}

.features .glyphicon {
	color: #999;
	font-size: 18px;
}

.features .section.border {
	border-bottom: 1px solid #eee;
}

.features .section {
	height: 215px;
	padding-top: 20px;
}

.features-back {
    background-color: #eee;
}

.features-back h1 span {
	font-size: 114%;
	font-weight: 900;
	text-transform: uppercase;
}

.features-header {
    background-color: #e9e9e9;
	border: 1px solid #999;
	border-left: 3px solid #36c057;
	margin: 30px 0 0;
	padding: 5px;
}

.features-header h3 {
	color: #00a3e4;
	font-size: 21px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
	text-transform: uppercase;
}

@media (min-width: 992px) {
    .features-back {
        padding: 0 10%;
    }
}

@media (min-width:1200px) {
	.features .section {
		height: 330px;
	}

    .features-back {
        padding: 0 30px;
    }
}

@media (min-width:1500px) {
	.features .section {
		height: 275px;
        padding-bottom: 120px;
	}

    .features-back {
        padding-bottom: 120px;
    }
}

@media (min-width:1800px) {
    .features-back h1 span {
        font-size: 150%;
    }
	.features .section {
		height: 215px;
	}
}

/* About Us */
.about-us {
    background-color: #efefef;
}

.about-us h4 {
	font-weight: 700;
}

.about-us .img-responsive {
  position: relative;
  box-shadow: 0 12px 10px -12px hsla(0, 0%, 0%, 1);
}

.about-us .img-responsive:before, 
.about-us .img-responsive:after {
  position: absolute;
  content: "";
  width: 15%;
  bottom: 10px;
  box-shadow: 0 0 12px 10px hsla(0, 0%, 0%, .5);
  z-index: -10;
}

.about-us .img-responsive:before {
  left: 24px;
  transform: skewY(-12.5deg);
}

.about-us .img-responsive:after{
  right: 24px;
  transform: skewY(12.5deg);
}

@media (min-width: 1600px) {
    .about-us.scroll-top-padd {
        padding-bottom: 90px;
        padding-top: 180px !important;
    }
}

/* PRICING PLANS */
.plan-box {
    border: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px;  
    position: relative; 
}

.plan-box .btn {
    border-radius: 0 0 4px 4px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

.plan-content {
    position: relative;
}

.plan-content img {
    position: absolute;
    right: 0;
    top: -10px;
    width: 65px;
}

.plan-content p {
    padding-right: 70px;
}

.plan-content ul > li > a {
    font-size: 16px;
}

.plan-header {
    text-align: center;
}

.plan-header a {
    font-size: 18px;
}

.plan-header h2 {
    font-size: 38px;
    margin-top: -50px;
}

.price-list {
    color: #333;
}

.price-box {
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px;
    position: relative;
}

.price-list small {
    color: #373737;
    font-size: 11px;
    font-weight: 300;
    margin-left: 2px;
}

.price-list span {
    color: #2d9f48;
    font-size: 22px;
    font-weight: 900;
}

.price-box .sub-price span {
    color: #373737;
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.price-box .sub-price small {
    color: #373737;
    font-size: 11px;
    font-weight: 300;
}

.price-box .sub-price strong {
    font-size: 11px;
    margin-top: 30px;
}

.pricing-plans {
    background-color: #fff;
}

.pricing-plans h4 {
    color: #00b1f7;
    font-size: 21px;
    font-weight: 900;
}

.pricing-plans .lead {
    font-size: 16px;
    margin-top: 10px;
}

.pricing-plans p,
.pricing-plans ul > li {
    font-size: 12px;
}

.pricing-plans ul {
    margin-top: -5px;
}

@media (min-width: 375px) {
    .pricing-plans h4 {
        font-size: 24px;
    }
}

@media(min-width: 470px) {
    .pricing-plans {
        padding: 0 40px;
    }
}

@media (min-width: 768px) {
    .plan-box {
        height: 420px;
    }

    .plan-box .btn {
        font-size: 21px;
    }

    .price-details {
        bottom: 10px;
        left: 10px;
        right: 10px;
        position: absolute;    
    }
}

@media (min-width: 992px) {
    .plan-box {
        margin-bottom: 50px;
        margin-top: 30px;
        height: 520px;
    }

    .plan-box .btn {
        font-size: 18px;
    }

    .plan-content {
        height: 320px;
    }

    .plan-header {
        text-align: center;
    }

    .plan-header a {
        font-size: 18px;
    }

    .plan-header h2 {
        font-size: 60px;
        margin-top: 20px;
    }

    .plan-header .lead {
        font-size: 24px;
    }

    .price-list span {
        font-size: 18px;
    }

    .pricing-plans h4 {
        font-size: 18px;
        width: 100px;
    }
}

@media (min-width: 1200px) {
    .plan-box {
        height: 445px;
    }

    .pricing-plans {
        padding-bottom: 75px;
    }

    .pricing-plans h4 {
        width: auto;
    }
}

@media (min-width: 1600px) {
    .plan-box {
        margin-top: 60px;
    }

    .price-box .btn,
    .price-list span,
    .pricing-plans h4 {
        font-size: 24px;
    }
}

/* BLOG */
.blog-back {
	background: repeating-linear-gradient(to right, #fff, #fff 10px, #eee 10px, #eee 11px);
}

.blog-back .dropshadow2 {
	border-radius: 10px;
	box-shadow: 0 1px 2px #999;
}

.blog-back .whiteback {
	border: 1px solid #ddd;
	border-radius: 4px;
}

.media {
	margin-top: 35px;
}

.media small {
	color: #999;
}

.media-body {
	border-bottom: 2px dotted #ccc;
	padding-bottom: 10px;
}

.media-left {
	padding-right: 25px;
}

.media-left img {
	border: 1px solid #ccc;
	padding: 10px;
}

/* Contact Us */
.contact-us {
    background-color: #eee;
}

@media (min-width: 768px) {
    .contact-us {
        text-align: center;
    }

    .contact-us iframe {
        margin: 20px auto;
    }
}

@media (min-width: 992px) {
    .contact-us {
        text-align: left;
    }
}

/* Screen Shot pages */
@media (min-width: 992px) {
	.nav-pills {
		margin-top: 130px;
	}
}

@media (min-width: 1200px) {
	.nav-pills {
		margin-top: 0;
	}
}
	

/* Bootstrap Styles */
.btn-lg {
	font-size: 22px !important;
	padding: 10px 30px;
}

.btn-success {
	background-color: #2d9f48 !important;
	color: #fff !important;
}

.btn-info,
.btn-primary, 
.btn-success {	
	border: none !important;
}

.modal-header {
	background-color: #999;
	color: #fff;
}

.modal-header .close {
	color: #fff !important;
	opacity: 0.5 !important;
}

.nav-stacked > li {
	display: block !important;
}

.navbar-nav > li > a {
	line-height: 30px;
}

@media (min-width: 768px) {
	.btn-lg {
		font-size: 24px !important;
		padding: 10px 58px;
	}
}

@media (min-width: 992px) {
	.btn-lg {
		font-size: 30px !important;
		padding: 10px 40px;
	}
}

/* PRICING */

@media (max-width: 767px) {
    .navshadow .glyphicon-menu-hamburger {
        font-size: 21px;
    }
    .navshadow .nav {
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
    }

    .navshadow .navbar-nav {
        margin: 0;
    }

    .navshadow .nav > li {
        background-color: #00a3e4;
        background-color: rgba(0, 163, 228, 0.7);
        display: block !important;
        margin-bottom: 1px;
        text-align: right;
    }

    .navshadow .nav > li:hover {
        background-color: rgba(115, 206, 242, 0.7);
    }

    .navshadow .nav > li > a {
        color: #fff;
    }

    .navshadow .nav > li > .btn {
        text-align: right;
    }

    .navshadow.navbar-fixed-top .navbar-collapse {
        padding: 0 !important;
    }

    .navshadow .navbar-collapse.collapse.in {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .navshadow .nav > li {
        background-color: #fff;   
    }

    .navshadow .nav > li > a {
        color: #000;
        line-height: 8px !important;
    }

    .navshadow .navbar-collapse.collapse {
        display: block !important;
        margin-top: 25px;
    }
}

@media (min-width: 870px) {
    .navshadow .navbar-collapse.collapse {
        margin-top: 10px;
    }

    .navshadow .nav > li > .btn {
        margin-top: 0;
    }
}


.pricing-details .agents-pay {
    display: block;
    font-size: 12px;
}
.pricing-details .btn {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.pricing-details .feature {
    color: #333;
    font-size: 22px;
}  

.pricing-details .feature .btn-success {
    margin-bottom: 40px;
    margin-top: 90px;
}

.pricing-details .feature .month {
    font-size: 12px;
    float: left;
    margin-top: 14px;
    padding-left: 10px;
    width: 78px;
}

.pricing-details .feature .month.enterprise {
    float: none;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 15px;
    width: auto;
}

.pricing-details .feature img {
    height: 50px;
    margin-left: 0;
    margin-top: -10px;
}

.pricing-details .feature h3 {
    margin-bottom: 10px;
    margin-top: 2px;
    padding-left: 0;
}

.pricing-details .feature h3 > a {
    text-decoration: underline;
}

.pricing-details .feature ul li {
    font-size: 14px;
    padding-bottom: 10px;
}

.pricing-details h3 {
    color: #263948 !important;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 25px;
    text-transform: uppercase;
}

.pricing-details h4 {
    border-top: 1px solid #ddd;
    color: #263948 !important;
    margin-bottom: 0;
    padding-top: 2px;
}

.pricing-details .highlight {
    background-color: #e8f5fc;
    font-weight: bold;
}

.pricing-details .plus {
    margin-top: 34px;
}

.pricing-details .price {
    color: #333;
    float: left;
    font-size: 78px;
    line-height: 42px;
    margin-bottom: 0;
    margin-top: 15px;
}

.pricing-details .price.enterprise {
    float: none;
    font-size: 41px;
    padding-left: 15px;
}

.pricing-details .price small {
    font-size: 50%;
}

.pricing-details ul {
    color: #263948;
    margin-bottom: 40px;
    -webkit-padding-start: 14px;
}

.pricing-details ul li {
    font-size: 16px;
    padding-bottom: 15px;
}

.pricing-details ul li small {   
    display: block;
}

.pricing-details .feature .user {
    font-size: 14px;
    padding-left: 0;
}

@media (min-width: 768px) {
    .business-pricing.scroll-top-padding {
        padding-top: 465px;
    }

    .pricing-details {
        padding-right: 30px;
    }

    .pricing-details .agents-pay {
        display: block;
        font-size: 11px;
    }

    .pricing-details .feature .btn-success {
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .pricing-details .feature .month {
        float: none;
        font-size: 9px;
        margin-top: 0;
        padding-left: 0;
        width: 100%;
    }

    .pricing-details .feature .month.enterprise {
        font-size: 12px;
        line-height: 18px;
        padding-left: 0;
    }

    .pricing-details h3 {
        font-size: 18px;
        padding-left: 0;
    }

    .pricing-details h4 {
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .pricing-details img {
        height: 45px;
        margin-bottom: 3px;
        margin-left: 0;
        margin-top: 0;
    }

    .pricing-details p {
        line-height: 12px;
    }

    .pricing-details .price {
        float: none;
        font-size: 48px;
        margin-bottom: -6px;
        margin-top: 5px;
    }

    .pricing-details .price.enterprise {
        font-size: 24px;
        margin-top: 19px;
        padding-left: 0;
    }

    .pricing-details ul {
        -webkit-padding-start: 7px;
    }

    .pricing-details ul li {
        font-size: 14px;
    }

    .pricing-details .user {
        color: #263948;
        font-size: 11px;
        line-height: 20px;
        padding-left: 0;
    }

    .scroll-nav-fixed {
        background-color: #fff;
        left: 0;
        padding-left: 15px;
        padding-right: 30px;
        position: fixed;
        top: 78px;
        width: 100%;
        z-index: 9999;
    }
}

@media (min-width: 992px) {
    .business-pricing.scroll-top-padding {
        padding-top: 509px;
    }

    .pricing-details .feature .month,
    .pricing-details .user {
        font-size: 12px;
    }

    .pricing-details h4 {
        margin-top: 15px;
    }

    .pricing-details img {
        height: 55px;
        margin-right: 5px;
    }

    .pricing-details .price {
        font-size: 63px;
        line-height: 30px;
        margin-bottom: 2px;
    }

    .pricing-details .price.enterprise {
        margin-bottom: 3px;
    }

    .pricing-details ul li {
        font-size: 14px;
    }   

    .scroll-nav-fixed {
        top: 111px;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .business-pricing.scroll-top-padding {
        padding-top: 480px;
    }

    .pricing-details .agents-pay {
        margin-top: -10px;
    }

    .pricing-details .feature .btn-success {
        margin-top: 0;
    }

    .pricing-details .btn-success.enterprise {
        margin-top: 15px;
    }

    .pricing-details h3 {
        font-size: 17px;
        padding-left: 0;
    }

    .pricing-details h4 {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .pricing-details .price {
        font-size: 60px;
        margin-top: 5px;
    }

    .pricing-details .price.enterprise {
        margin-bottom: 0;
        margin-top: 18px;
    }

    .pricing-details ul {
        -webkit-padding-start: 0;
    }

    .pricing-details .user {
        color: #263948;
        line-height: 38px;
        padding-left: 0;
    }
}

@media (min-width: 1500px) {
    .business-pricing.scroll-top-padding {
        padding-top: 420px;
    }

    .scroll-nav-fixed {
        top: 94px;
    }
}

@media (min-width: 1600px) {
    .business-pricing.scroll-top-padding {
        padding-top: 395px;
    }

    .pricing-details {
        padding-left: 86px;
    }

    .pricing-details .agents-pay {
        padding-left: 60px;
    }

    .pricing-details .feature .month {
        font-size: 12px;
    }

    .pricing-details h3 {
        font-size: 22px;
    }

    .pricing-details h4 {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .pricing-details img {
        float: left;
    }

    .pricing-details .price.enterprise {
        font-size: 30px;
    }

    .pricing-details ul li {
        height: auto;
    }

    .scroll-nav-fixed {
        padding-left: 86px;
        top: 111px;
    }
}